@model CreateViewModel

    <form asp-controller="Page" asp-action="Create" method="post" enctype="multipart/form-data">

        <input asp-for="CompanyName" />
        <input type="file" name="file" asp-for="Logo" />
        <input type="submit" />
    </form>
